body{
    margin: 10px;
    padding-top: 80px;
    background:#faf8f8;
    font-family: Arial;
}
.navbar ul{
    list-style: none;
    background: #06a9f5;
    padding: 0;
    margin: 0;
    text-align:center;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:#fff;
    width:100px;
    display: block;
    padding:25px 20px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}
.navbar a:hover{
    background:orange;
}